<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site name="SUGCON" patch:before="site[@name='website']"
				  virtualFolder="/"
				  physicalFolder="/"
				  hostName="sc.liveblog"
				  rootPath="/sitecore/content/SUGCON/"
				  startItem="/home"
				  database="web"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="50MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"/>
		</sites>
	</sitecore>
</configuration>