<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<sessionState mode="InProc" cookieless="false" timeout="2" sessionIDManagerType="Sitecore.FXM.SessionManagement.ConditionalSessionIdManager" xdt:Transform="Replace">
		<providers>
			<add name="mongo" type="Sitecore.SessionProvider.MongoDB.MongoSessionStateProvider, Sitecore.SessionProvider.MongoDB" sessionType="Standard" connectionStringName="session" pollingInterval="2" compression="true" />
			<add name="mssql" type="Sitecore.SessionProvider.Sql.SqlSessionStateProvider, Sitecore.SessionProvider.Sql" sessionType="Standard" connectionStringName="session" pollingInterval="2" compression="true" />
		</providers>
	</sessionState>


</configuration>