<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="LiveBlogger.UseRequireJs" value="true" />
			<setting name="LiveBlogger.RequireKeys.SignalR" value="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js" />
			<setting name="LiveBlogger.RequireKeys.JQuery" value="jquery" />
			<setting name="LiveBlogger.RequireKeys.LiveBlog" value="sc.liveblog/sc.liveblog" />
			<setting name="LiveBlogger.ViewLocations" value="/views/LiveBlogger" />
			<setting name="LiveBlogger.IgnoreSignalRPrefixes" value="/signalr|/signalr/hubs" />
		</settings>
		<pipelines>
			<httpRequestBegin>
				<processor type="Sc.LiveBlog.Pipelines.HttpRequestBegin.IgnoreSignalR, Sc.LiveBlog"
						   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel']" />
			</httpRequestBegin>
			<initialize>
				<processor type="Sc.LiveBlog.Pipelines.Initialize.RegisterSignalRProcessor, Sc.LiveBlog"
						   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc"></processor>
			</initialize>
		</pipelines>
	</sitecore>
</configuration>