@model Sc.LiveBlog.Model.LiveBlogViewModel

<div id="discussion">
</div>

<script id="defaultTemplate" type="text/template">
	<div id="<%- blogId %>">
		<%- text %>
	</div>
</script>

<script id="giphyTemplate" type="text/template">
	<div id="<%- blogId %>">
		<%- text %>
	</div>
</script>

<script id="iconTemplate" type="text/template">
	<div id="<%= blogId %>">
		<h2>*</h2>
		<%- text %>
	</div>
</script>

<script>
	require(["jquery", "liveblog"], function ($, LiveBlog) {
		var liveBlog = new LiveBlog();
		liveBlog.init();
	});
</script>