<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<liveBlog>
			<commandParserProviders defaultProvider="default">
				<commandParser name="default" type="Sc.LiveBlog.CommandParser.DefaultCommandParser, Sc.LiveBlog">
					<commands defaultCommand="markdown">
						<command name="markdown" keyword="markdown" description="Converts the text to html using Markdown" type="Sc.LiveBlog.Parser.Commands.Markdown, Sc.LiveBlog.Parser" />
						<command name="giphy" keyword="giphy" description="Takes the rest of the text and uses the giphy api to send a random gif to the live blog" type="Sc.LiveBlog.Parser.Commands.Giphy, Sc.LiveBlog.Parser" />
						<!--
						<command name="tweet" keyword="tweet" description="Enter the tweet id and the tweet will display as an embedded tweet in the blog" type="Sc.LiveBlog.Parser.Commands.Tweet, Sc.LiveBlog.Parser" />
						<command name="meme" keyword="meme" description="Enter the tweet id and the tweet will display as an embedded tweet in the blog" type="Sc.LiveBlog.Parser.Commands.Meme, Sc.LiveBlog.Parser" />
						<command name="icon" keyword="icon" description="Enter the tweet id and the tweet will display as an embedded tweet in the blog" type="Sc.LiveBlog.Parser.Commands.Icon, Sc.LiveBlog.Parser" />
						<command name="youtube" keyword="youtube" description="" type="Sc.LiveBlog.Parser.Commands.YouTube, Sc.LiveBlog.Parser" />
						<command name="image" keyword="image" description="" type="Sc.LiveBlog.Parser.Commands.Image, Sc.LiveBlog.Parser" />
						-->
					</commands>
				</commandParser>
			</commandParserProviders>

			<configurationProvider type="Sc.LiveBlog.Configuration.XmlConfigurationProvider, Sc.LiveBlog"></configurationProvider>
		</liveBlog>

		<settings>
			<setting name="LiveBlog.UseRequireJs" value="true" />
			<setting name="LiveBlog.RequireKeys.SignalR" value="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js" />
			<setting name="LiveBlog.RequireKeys.JQuery" value="jquery" />
			<setting name="LiveBlog.RequireKeys.LiveBlog" value="sc.liveblog/sc.liveblog" />
			<setting name="LiveBlog.ViewLocations" value="/views/LiveBlog" />
			<setting name="LiveBlog.IgnoreSignalRPrefixes" value="/signalr|/signalr/hubs" />
		
			<setting name="LiveBlog.AccessRole" value="sitecore/Author" />
		</settings>
		<!--<api>
			<services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="LiveBlogServicesController">Sc.LiveBlog.Controllers.LiveBlogServicesController, Sc.LiveBlog</allowedController>
          </allowedControllers>
        </configuration>
			</services>
		</api>-->

		<pipelines>
			<httpRequestBegin>
				<processor type="Sc.LiveBlog.Pipelines.HttpRequestBegin.IgnoreSignalR, Sc.LiveBlog"
						   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.DatabaseResolver, Sitecore.Kernel']" />
			</httpRequestBegin>
			<initialize>
				<processor type="Sc.LiveBlog.Pipelines.Initialize.RegisterSignalRProcessor, Sc.LiveBlog"
						   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"></processor>
				<processor type="Sc.LiveBlog.Pipelines.Initialize.RegisterHttpRoutes, Sc.LiveBlog"
						   patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"></processor>
			</initialize>
			<!--<speak.client.resolveScript>
				<processor patch:before="[@type='Sitecore.Resources.Pipelines.ResolveScript.ResolveBaseComponent, Sitecore.Speak.Client'" 
									 type="Sc.LiveBlog.Speak.ResolveSignalrHubs, Sc.LiveBlog" />
				<processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
					<sources hint="raw:AddSource">
						<source patch:before="[@folder='/sitecore/shell/client/Speak/Assets'"
										folder="/Components/SpeakSignalR/SignalR" deep="true" category="client" pattern="*.js" />
						<source patch:before="[@folder='/sitecore/shell/client/Speak/Assets'"
										folder="/Components/SpeakSignalR/Scripts" deep="true" category="signalr" pattern="*.js" />
					</sources>
				</processor>
			</speak.client.resolveScript>-->
		</pipelines>
	</sitecore>
</configuration>

