<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <!-- Nerdery Local -->
  <!--
  <add name="core" connectionString="user id=svc_sitecore;password=!s1t3c0r3;Data Source=bwalters-win82\sqlexpress;Database=cr_sitecore_core"/>
  <add name="master" connectionString="user id=svc_sitecore;password=!s1t3c0r3;Data Source=bwalters-win82\sqlexpress;Database=cr_sitecore_master"/>
  <add name="web" connectionString="user id=svc_sitecore;password=!s1t3c0r3;Data Source=bwalters-win82\sqlexpress;Database=cr_sitecore_web"/>
  -->
  <!-- CR Dev -->
  <add name="core" connectionString="user id=svc_sitecore;password=!s1t3c0r3;Data Source=ip-172-31-80-30.ec2.internal;Database=cr_sitecore_core"/>
  <add name="master" connectionString="user id=svc_sitecore;password=!s1t3c0r3;Data Source=ip-172-31-80-30.ec2.internal;Database=cr_sitecore_master"/>
  <add name="web" connectionString="user id=svc_sitecore;password=!s1t3c0r3;Data Source=ip-172-31-80-30.ec2.internal;Database=cr_sitecore_web"/>
  <!-- CR CMS -->
  <!--<add name="core" connectionString="user id=sitecore;password=4DBAcces5T0CR1!;Data Source=crtvsql-cd1.cxujo4yg87vp.us-east-1.rds.amazonaws.com;Database=cr_prod_sitecore_core"/>
  <add name="master" connectionString="user id=sitecore;password=4DBAcces5T0CR1!;Data Source=crtvsql-ca1.cxujo4yg87vp.us-east-1.rds.amazonaws.com;Database=cr_sitecore_master"/>
  <add name="web" connectionString="user id=sitecore;password=4DBAcces5T0CR1!;Data Source=crtvsql-cd1.cxujo4yg87vp.us-east-1.rds.amazonaws.com;Database=cr_prod_sitecore_web"/>
  <add name="analytics" connectionString="user id=svc_sitecore;password=4DBAcces5T0CR1!;Data Source=ip-172-31-115-30.ec2.internal;Database=cr_prod_sitecore_analytics"/>-->
  
  <!-- Nerdery Dev-->
  <!--<add name="core" connectionString="user id=crSitecoreAdmin;password=Zab27Ujt;Data Source=madrid.nerderylabs.com\SQL2012;Database=conservativeSitecore_Core"/>
  <add name="master" connectionString="user id=crSitecoreAdmin;password=Zab27Ujt;Data Source=madrid.nerderylabs.com\SQL2012;Database=conservativeSitecore_Master"/>
  <add name="web" connectionString="user id=crSitecoreAdmin;password=Zab27Ujt;Data Source=madrid.nerderylabs.com\SQL2012;Database=conservativeSitecore_Web"/>
  <add name="analytics" connectionString="user id=crSitecoreAdmin;password=Zab27Ujt;Data Source=madrid.nerderylabs.com\SQL2012;Database=conservativeSitecore_Analytics"/>
  <add name="reporting" connectionString="user id=crSitecoreAdmin;password=Zab27Ujt;Data Source=madrid.nerderylabs.com\SQL2012;Database=conservativeSitecore_Analytics"/>

  <add name="prod" connectionString="user id=crSitecoreAdmin;password=Zab27Ujt;Data Source=madrid.nerderylabs.com\SQL2012;Database=conservativeSitecore_WebDelivery"/>-->
</connectionStrings>
