<?xml version="1.0" encoding="utf-8"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <add name="core" connectionString="user id=svc_sitecore;password=!s1t3c0r3;Data Source=ip-172-31-80-30.ec2.internal;Database=cr_sitecore_core" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="master" connectionString="user id=svc_sitecore;password=!s1t3c0r3;Data Source=ip-172-31-80-30.ec2.internal;Database=cr_sitecore_master" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="web" connectionString="user id=svc_sitecore;password=!s1t3c0r3;Data Source=ip-172-31-80-30.ec2.internal;Database=cr_sitecore_web" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

</connectionStrings>
