<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="user id=sitecore;password=4DBAcces5T0CR1!;Data Source=crtvsql-cd1.cxujo4yg87vp.us-east-1.rds.amazonaws.com;Database=cr_sitecore_core" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="master" connectionString="user id=sitecore;password=4DBAcces5T0CR1!;Data Source=crtvsql-cd1.cxujo4yg87vp.us-east-1.rds.amazonaws.com;Database=cr_sitecore_master" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="web" connectionString="user id=sitecore;password=4DBAcces5T0CR1!;Data Source=crtvsql-cd1.cxujo4yg87vp.us-east-1.rds.amazonaws.com;Database=cr_sitecore_web" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>